@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', cursive !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-custom {
  background-color: #DC2228;
  height: 60px;
}

.navbar-brand-custom{
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
  padding-left: 5px;
}

.navbar-brand-custom a {
  color: white !important;
  text-decoration: none !important;

}

.nav-link a {
  color: white !important;
  text-decoration: none !important;
}

.profile-img{
  width: 250px;
  height: 250px;
}

.image-container{
  width: 100%;
  padding-top: 20px;
}

.history-card{
  margin-bottom: 20px;
  border:1px solid #DC2228;
  border-radius:10px;
  margin-left:12px;
  height:max-content;
  padding:10px
}

.docter-card{
  margin-bottom: 20px;
  border:1px solid #DC2228;
  border-radius:10px;
  margin-left:12px;
  height:max-content;
  padding:10px
}

.history-card:hover{
  cursor: pointer;
}

.predict-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.doctor-container{
  height: 80vh;
}

.image-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #DC2228;
  height: 300px;
  width: 500px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

.delete-image{
  cursor: pointer;
}

.detail-card:hover{
  cursor: pointer;
}